<div class="hero"></div>
<div class="overlay"></div>
<div class="row text-center padtop100">
  <div class="col-sm-12 hero-text">
    <h1>Accountability Slogan thing</h1>
    <p class="lead">Whatever We want to say</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 motivation">
    <h2 class="quote">
       “Set your goals high, and don’t stop till you get there.”
    </h2>
    <h3 class="auth">– Bo Jackson</h3>
  </div>
  <div class="col-sm-4 motivation">
    <h2 class="quote">
      “Persistence can change failure into extraordinary achievement.”
    </h2>
    <h3 class="auth">
      – Marv Levy
    </h3>
  </div>
  <div class="col-sm-4 motivation">
    <h2 class="quote">
      “If you fail to prepare, you’re prepared to fail.”
    </h2>
    <h3 class="auth">– Mark Spitz</h3>
  </div>
</div>
