<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading leader">
    <h3 class="panel-title">Leader Board</h3>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
      <% @users.sort_by{|x| x.goals.count(:completed_at) }.reverse.each do |x| %>
        <tr>
          <td><%= x.username %></td>
          <td><%= x.goals.count(:completed_at) * 10 %></td>
        </tr>
      <% end %>
  </table>
</div>
