<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Leader Board</h4></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
      <% @users.sort_by{|x| x.goals.count(:completed_at) }.reverse.each do |x| %>
        <tr>
          <td><%= x.username %></td>
          <td><%= x.goals.count(:completed_at) %></td>
        </tr>
      <% end %>
  </table>
</div>
