@import "bootstrap-sprockets";
@import "bootstrap";

.cant-see-me {
  display: none;
}
// *= require simple_calendar

check_box {
  display: none;
}

.hero {
  margin-bottom: 100px;
  margin-left: 0;
  padding-left: 0;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1456613820599-bfe244172af5?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1125");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: -2;
}

.overlay {
  background-color: #000;
  height: 400px;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.hero-text {
  color: #fff;
  height: 400px;
}

.padtop100 {
  padding-top: 100px;
}

.padtop150 {
  padding-top: 150px;
}

body {
  background-color: #fefafa;
}

.panel {
box-shadow: 3px 3px 10px #888;
}

.profile {
  box-shadow: none;
}

.panel > .panel-heading {
    background-color: #428bca;
    color: white;
}

.panel > .panel-footer {
    background-color: #f7f7f7;
}

.leader {
  text-align: center;
  background-color: #d9534f !important;
  color: white;
}

.title {
  margin-top: -10px;
  margin-bottom: 15px;
}

.p-panel {
  margin-bottom: 0px;
}

.my-p-panel {
  margin-bottom: 30px;
}

.comment-goal {
  margin-top: -20px;
}

.motivation {
  margin-top: -100px;
}

.navimg {
  margin-top: 10px;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.nav {
  font-size: 1.4em;
}

.title {
  font-family: 'Droid Serif', serif;
}

.panel-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
}
