@import "bootstrap-sprockets";
@import "bootstrap";

.cant-see-me {
  display: none
}
// *= require simple_calendar

check_box {
  display: none
}

tr {
  text-overflow: ellipsis;
}
.navimg {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0;
}
